process {
    withName:Align_Input_Volumes {
        container = 'qmrlab/antsfsl:latest'
    }
    withName:Extract_Brain {
        container = 'qmrlab/antsfsl:latest'
    }
    withName:B1_Smooth_Without_Mask {
        container = 'qmrlab/minimal:v2.3.1'
    }
    withName:Fit_VFAT1_With_B1map_With_Bet {
        container = 'qmrlab/minimal:v2.3.1'
    }
    withName:Fit_VFAT1_With_B1map_Without_Bet {
        container = 'qmrlab/minimal:v2.3.1'
    }
    withName:Fit_VFAT1_Without_B1map_With_Bet {
        container = 'qmrlab/minimal:v2.3.1'
    }
    withName:Fit_VFAT1_Without_B1map_Without_Bet {
        container = 'qmrlab/minimal:v2.3.1'
    }
   
}

//** Suggested use: Enable Docker. **//   
//** See more at: https://github.com/qMRLab/qMRflow **//

docker {
    enabled = true
}


params {
         
    //** === (1) PLATFORM SETTINGS === **//     
      
        platform="octave"
    
        matlab_path = null

        octave_path = null
        
        qmrlab_path = null
        
        wrapper_version = "vfa_t1" 

        matlab_path_exception = null
        qmrlab_path_exception = null

    //** === (2) PROCESS SPECIFIC SETTINGS === **// 
                 
    //** ANTs input alignment (to vfa1) parameters //
        
        ants_dim=2
        ants_metric="MI"
        ants_metric_weight=1
        ants_metric_bins=32
        ants_metric_sampling="Regular"
        ants_metric_samplingprct=0.25
        ants_transform="Rigid[0.1]"
        ants_convergence="[500x250x100,1e-6,10]"
        ants_shrink="4x2x1"
        ants_smoothing = "2x1x0vox"

    //** BET Brain extraction parameters **//    
       
        use_bet=true
        bet_recursive=true
        bet_threshold=0.45
    
    //** B1+ correction **//  
        use_b1map=true

    //** === (3) DESCRIPTION_DATASET.JSON SETTINGS === **// 

	//** This is a temporary solution. Variable $workflow.container prints emtpy map instead of container name. See issue: https://github.com/nextflow-io/nextflow/issues/1758. **//
	containerTag = null
	description = "qMRFlow vfa_t1 pipeline has been executed"
	datasetDOI = ""
	datasetURL = ""
	datasetVersion = ""
}
