process {
    withName:Align_Input_Volumes {
        container = 'qmrlab/antsfsl:latest'
    }
    withName:Extract_Brain {
        container = 'qmrlab/antsfsl:latest'
    }
    withName:B1_Align {
        container = 'qmrlab/antsfsl:latest'
    }
    withName:B1_Smooth_Without_Mask {
        container = 'qmrlab/minimal:v2.3.1'
    }
    withName:Fit_MTsat_With_B1map_With_Bet {
        container = 'qmrlab/minimal:v2.3.1'
    }
    withName:Fit_MTsat_With_B1map_Without_Bet {
        container = 'qmrlab/minimal:v2.3.1'
    }
    withName:Fit_MTsat_Without_B1map_With_Bet {
        container = 'qmrlab/minimal:v2.3.1'
    }
    withName:Fit_MTsat_Without_B1map_Without_Bet {
        container = 'qmrlab/minimal:v2.3.1'
    }
   
}

//** Suggested use: Enable Docker. **//   
//** See more at: https://github.com/qMRLab/qMRflow **//

docker {
    enabled = true
}

params {
         
    //** === (1) PLATFORM SETTINGS === **//     
      
        platform="octave"
    
        matlab_path = null

        octave_path = null
        
        qmrlab_path = null
        
        wrapper_version = "debug" 

        matlab_path_exception = "/Applications/MATLAB_R2018a.app/bin/matlab"

        qmrlab_path_exception = "/Users/Agah/Desktop/neuropoly/qMRLab"

    //** === (2) PROCESS SPECIFIC SETTINGS === **// 
                 
    //** ANTs input alignment (to T1w) parameters //
        
        ants_dim=3
        ants_metric="MI"
        ants_metric_weight=1
        ants_metric_bins=32
        ants_metric_sampling="Regular"
        ants_metric_samplingprct=0.25
        ants_transform="Rigid[0.1]"
        ants_convergence="[1000x500x250x100,1e-6,10]"
        ants_shrink="8x4x2x1"
        ants_smoothing = "3x2x1x0vox"

    //** BET Brain extraction parameters **//    
       
        use_bet=true
        bet_recursive=true
        bet_threshold=0.45
    
    //** B1+ correction parameters **//  
        use_b1cor=true
        b1cor_factor=0.4  
        b1_filter_siemens = true
        b1_filter_type = "median"
        b1_filter_dimension = "3D"
        b1_filter_order = 6
        b1_filter_size = "[3 3 3]"
}