process {
    withName:Align_Input_Volumes {
        container = 'qmrlab/antsfsl:latest'
    }
    withName:Extract_Brain {
        container = 'qmrlab/antsfsl:latest'
    }
    withName:Fit_MTsat_With_B1map_With_Bet {
        container = 'qmrlab/minimal:v2.3.1'
    }
    withName:Fit_MTsat_With_B1map_Without_Bet {
        container = 'qmrlab/minimal:v2.3.1'
    }
    withName:Fit_MTsat_Without_B1map_With_Bet {
        container = 'qmrlab/minimal:v2.3.1'
    }
    withName:Fit_MTsat_Without_B1map_Without_Bet {
        container = 'qmrlab/minimal:v2.3.1'
    }
   
}

//** Suggested use: Enable Docker. **//   
//** See more at: https://github.com/qMRLab/qMRflow **//

docker {
    enabled = true
}

params {
         
    //** === (1) PLATFORM SETTINGS === **//     
            
        //** Options: "matlab" OR "octave"
        //** WHEN DOCKER ENABLED, PLATFORM must be set to "octave"**// 

        PLATFORM="octave"
            
        //** WHEN DOCKER ENABLED set the following *_PATH variables to null. **// 
        //** PATH variable should point to the executable of the selected PLATFORM (MATLAB OR Octave). **//

        MATLAB_PATH = null

        OCTAVE_PATH = null

        //** WHEN DOCKER DISABLED, define qMRLab's (>v2.3.1) root dir. **// 
        //** WHEN DOCKER ENABLED, set qMRLab_DIR to null. **//
        
        qMRLab_DIR = null

     //** === (2) PROCESS SPECIFIC SETTINGS === **// 
        
        //** Enable/disable B1+ correction (true/false). **//    
        
        USE_B1=true
        COR_B1=0.4

        //** Enable/disable skull stripping (true/false). **//  

        USE_BET=true
    
    //**ANTs registration parameters//
        ants_dim=3
        ants_metric="MI"
        ants_metric_weight=1
        ants_metric_bins=32
        ants_metric_sampling="Regular"
        ants_metric_samplingprct=0.25
        ants_transform="Rigid[0.1]"
        ants_convergence="[1000x500x250x100,1e-6,10]"
        ants_shrink="8x4x2x1"
        ants_smoothing = "3x2x1x0vox"

    //**BET Brain extraction parameters**//    
        bet_recursive=true
        bet_threshold=0.45

}