process {
    withName:Align_Input_Volumes {
        container = 'qmrlab/antsfsl:latest'
    }
    withName:Extract_Brain {
        container = 'qmrlab/antsfsl:latest'
    }
    withName:Fit_b1afi_With_Bet {
        container = 'agahkarakuzu/qmrfocal:vtest'
    }
    withName:Fit_b1afi_Without_Bet {
        container = 'agahkarakuzu/qmrfocal:vtest'
    }
}

//** Suggested use: Enable Docker. **//   
//** See more at: https://github.com/qMRLab/qMRflow **//

docker {
    enabled = false
}


params {
         
    //** === (1) PLATFORM SETTINGS === **//     
      
        platform="octave"
    
        matlab_path = null

        octave_path = null
        
        qmrlab_path = "/usr/local/qMRLab/qMRLab"
        
        wrapper_version = null

        matlab_path_exception = null
        qmrlab_path_exception = null

    //** === (2) PROCESS SPECIFIC SETTINGS === **// 
                 
    //** ANTs input alignment (to afiData1) parameters //
        
        ants_dim=3
        ants_metric="MI"
        ants_metric_weight=1
        ants_metric_bins=32
        ants_metric_sampling="Regular"
        ants_metric_samplingprct=0.25
        ants_transform="Rigid[0.1]"
        ants_convergence="[1000x500x250x100,1e-6,10]"
        ants_shrink="8x4x2x1"
        ants_smoothing = "3x2x1x0vox"

    //** BET Brain extraction parameters **//    
       
        use_bet=false
        bet_recursive=true
        bet_threshold=0.45

    //** === (3) DESCRIPTION_DATASET.JSON SETTINGS === **// 

	//** This is a temporary solution. Variable $workflow.container prints emtpy map instead of container name. See issue: https://github.com/nextflow-io/nextflow/issues/1758. **//
	containerTag = null
	description = "qMRFlow b1_afi pipeline has been executed"
	datasetDOI = ""
	datasetURL = ""
	datasetVersion = ""

}
