process {
    withName:Extract_Brain {
        container = 'qmrlab/antsfsl:latest'
    }
    withName:Fit_MP2RAGE_With_B1map_With_Bet {
        container = 'qmrlab/minimal:v2.3.1'
    }
    withName:Fit_MP2RAGE_With_B1map_Without_Bet {
        container = 'qmrlab/minimal:v2.3.1'
    }
    withName:Fit_MP2RAGE_Without_B1map_With_Bet {
        container = 'qmrlab/minimal:v2.3.1'
    }
    withName:Fit_MP2RAGE_Without_B1map_Without_Bet {
        container = 'qmrlab/minimal:v2.3.1'
    }
   
}

//** Suggested use: Enable Docker. **//   
//** See more at: https://github.com/qMRLab/qMRflow **//

docker {
    enabled = false
}


params {
         
    //** === (1) PLATFORM SETTINGS === **//     
      
        platform="matlab"
    
        matlab_path = "/usr/local/MATLAB/R2018b/bin/matlab"

        octave_path = null
        
        qmrlab_path = "/usr/local/qMRLab/qMRLab"
        
        wrapper_version = "mp2rage_UNIT1" 

        matlab_path_exception = null
        qmrlab_path_exception = null

    //** === (2) PROCESS SPECIFIC SETTINGS === **// 

    //** BET Brain extraction parameters **//    
       
        use_bet=false
        bet_recursive=true
        bet_threshold=0.25
                   
    //** B1+ correction (optional) **//  
        use_b1map=true
        b1cor_factor=0.4  

    //** === (3) DESCRIPTION_DATASET.JSON SETTINGS === **// 

	//** This is a temporary solution. Variable $workflow.container prints emtpy map instead of container name. See issue: https://github.com/nextflow-io/nextflow/issues/1758. **//
	containerTag = null
	description = "qMRFlow mp2rage_UNIT1 pipeline has been executed"
	datasetDOI = ""
	datasetURL = ""
	datasetVersion = ""
}
